body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ded11b
  }
  
  .header {
    background-color: #424241;
    padding: 20px 0;
  }

  .image-container {
    float: right;   
    /* width: 10px;
    height: 10px; */
  }
  
  .container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
    
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    color: #ede8e8;
    text-decoration: none;
  }
  
  .nav {
    float: right;
  }
  
  .nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav li {
    display: inline-block;
    margin-left: 20px;
  }
  
  .nav a {
    text-decoration: none;
    color: #f0ebeb;
  }
  
  .main {
    padding: 40px 0;
  }
  
  .hero {
    text-align: center;

  }
  
  .hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .hero p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 40px;
  }
  
  .cta {
    display: flex;
    justify-content: center;
  }
  
  .btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    margin: 0 10px;
  }
  
  .btn-primary {
    background-color: #007bff;
    color: #fff;
  }
  
  .btn-secondary {
    background-color: #fff;
    color: #007bff;
    border: 1px solid #007bff;
  }
  
  .footer {
    background-color: #f1f1f1;
    /* padding: 20px 0; */
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .login{
    background-color: #424241;
    text-decoration: none;
  }

  .reg{
    color: #424241;
    text-decoration: none;
  }